<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<div id="head">
	<h1><span>Welcome to the Tool-Box</span></h1>
	<br/>
</div>
<div id="main">
	<A HREF="http://www.kitco.com/connecting.html">
		<IMG SRC="http://www.kitconet.com/images/quotes_7a.gif" BORDER="0"
		     ALT="[Most Recent Quotes from www.kitco.com]">
	</A>
</div>
<div id="imageAnimation">
	<img src="http://www.marshu.com/articles/images-website/articles/presidents-on-us-paper-money/ten-thousand-10000-dollar-bill.jpg"/>
</div>
<div class="both">
	<div class="side">
		<number-directive></number-directive>
	</div>
	<div class="side1">
		<number-directive></number-directive>
	</div>
</div>