<!--<div class="container slider">-->
<!--<img ng-repeat="slide in slides" class="slide" ng-src="{{slide.image}}">-->
<!--</div>-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="styles/calculatorStyle.css">
<div class="box2">
	<div id="cool"><img
			src="https://lh3.googleusercontent.com/L_69LVIYsY0ICSwH7oomZw-EUwjKrLilsVzZy0uV0otqV1ZcFMux9DyWv7h-qHqEGKvi=w300"/>
	</div>
	<br/>
	<br/>
	<p id="inputs">a&nbsp;&nbsp;<input my-dom-directive type="text" ng-model="a" placeholder="enter a number"></p>
	<p id="inputs">b&nbsp;&nbsp;<input my-dom-directive type="text" ng-model="b" placeholder="enter a number"></p>
	<select class="custom" ng-model="operator" ng-options="item for item in operators"></select>


	<div class="box3">
		<p>{{ result() % result() === 0 ? result() : result().toFixed(4) }}</p>
	</div>
</div>

