


<div class="container slider">
	<img ng-repeat="slide in slides" class="slide" ng-src="{{slide.image}}">
</div>
<div class="box2">
	<img src="https://lh3.googleusercontent.com/L_69LVIYsY0ICSwH7oomZw-EUwjKrLilsVzZy0uV0otqV1ZcFMux9DyWv7h-qHqEGKvi=w300"/>
	<br/>
	<br/>
	<p id="inputs" >a&nbsp;&nbsp;<input my-dom-directive type="text" ng-model="a" placeholder="enter a number"></p>
	<p id="inputs">b&nbsp;&nbsp;<input  my-dom-directive type="text" ng-model="b" placeholder="enter a number"></p>
	<select ng-model="operator" ng-options="item for item in operators"></select>

	<div class="box3">
		<p>{{ result() }}</p>
	</div>
</div>

