<link rel="stylesheet" href="styles/calculatorStyle.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/ar-ly.js"></script>
<div class="box2">
    <div id="cool"><img class="img-responsive"
                        src="https://lh3.googleusercontent.com/L_69LVIYsY0ICSwH7oomZw-EUwjKrLilsVzZy0uV0otqV1ZcFMux9DyWv7h-qHqEGKvi=w300"/>

        <div id="cool2">{{ result() % result() === 0 ? result() : result().toFixed(2) }}</div>
    </div>
    <br/>
    <br/>
    <div id="box44">
        <p id="inputs">a&nbsp;&nbsp;<input class="form-group input-lg btn btn-primary btn-md" yellow-directive type="text" ng-model="a" placeholder="number a"></p>
        <p id="inputs">b&nbsp;&nbsp;<input class="form-group input-lg btn btn-primary btn-md" yellow-directive type="text" ng-model="b" placeholder="number b"></p>

        <select class="custom btn btn-default btn-md" ng-model="operator" ng-options="item for item in operators"></select>
    </div>

</div>

