<link rel="stylesheet" href="./styles/currencyStyle.css">

<div id="main">
	<div id="dude2">

		<h2>Currency Converter</h2>
		<img src="https://www.kdcurrency.com/images/slider/10000.jpg"/>
		<div>Base = $1.00 US</div>
	</div>
	<div id="input">
		<input my-dom-directive id="dollar1" placeholder="enter amount to covert here" ng-model="dollar"/>
		<h2>Filter by Country Name</h2>
		<input my-dom-directive placeholder="filter by country" ng-model="countryFilter"/>
	</div>


	<div class="wrapper1">
		<div class="wrapper2">
			<div ng-repeat="item in data | filter: countryFilter"> {{item.currency}}</div>
		</div>
		<div class="wrapper3">
			<div ng-repeat="item in data"> {{item.rate}}</div>
		</div>
		<div class="wrapper4">
			<div ng-repeat="item in data"> {{item.rate * dollar}}</div>
		</div>
	</div>
</div>


