<div class="dude2">
	<img src="https://lh3.ggpht.com/taN6Co1OQDw2rFWVrzlwLeAnA8QqdhSNu4B4jbyGqHpZGZsZZxENVns91Puefbz2Fg=w300"/>
	<form>
		<br/>
		<div id="inputs2"><span>Enter a minimum number: </span> <input my-dom-directive type="text" ng-model="c"/></div>
		<br/>
		<div id="inputs2"><span>Enter a maximum number: </span><input my-dom-directive type="text" ng-model="d"/></div>
		<br/>
		<button my-dom-directive ng-click="result()" ><span>Submit</span></button>
	</form>
	<br/>
	<div class="result">
		{{number}}
	</div>
</div>