@keyframes picswitch {
    0% {
        background-image: url("https://thumb9.shutterstock.com/display_pic_with_logo/62532/62532,1248693418,5/stock-photo-money-background-high-resolution-picture-34305457.jpg");
    }
    20% {
        background-image: url("http://www.traveller.org/australia/images/australia-20f.jpg");
    }
    40% {
        background-image: url("http://www.traveller.org/china/currency/china-1f.jpg");
    }
    80% {
        background-image: url("http://www.traveller.org/currency/200euror.jpg");
    }
    100% {
        background-image: url("http://www.traveller.org/greece/images/greece-200f.jpg");
    }

}

#slide {
    /*background-image: url("https://thumb9.shutterstock.com/display_pic_with_logo/62532/62532,1248693418,5/stock-photo-money-background-high-resolution-picture-34305457.jpg");*/
    height: 60vh;
    width: 70vw;
    background-size: cover ;
    animation-name: picswitch;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    border: 5px solid black;

}

#box img {
    height: 50%;
    width: 50%;
}

#main {
    position: relative;
    right: 18%;

}

#dude2 {
    margin-left: 0%;
    margin-top: 5%;
    font-size: 40px;
    text-align: center;

}
#dude2 h2{
    border-bottom: 5px solid black;
}

#input {
    display: block;
}

#dollar1 {
    display: block;
}

#input {
    display: block;
    margin-left: 45%;
}
#input input{
    height: 30px;
    font-size: 30px;
    width:140px;
}

#filter {
    font-size: 40px;
    text-align: center;
}

#input h2 {
    position: relative;
    right: 3%;
}

.wrapper1 {

    display: flex;
    justify-content: space-around;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    border-right: 5px solid black;
    border-left: 5px solid black;

}


